In [ ]:
import pandas as pd
import numpy as np

In [ ]:
train_data=pd.read_csv('/content/drive/MyDrive/ML Project/clean_training_data.csv')
test_data=pd.read_csv('/content/drive/MyDrive/ML Project/clean_testing_data.csv')

In [ ]:
train_data.shape,test_data.shape

((59400, 26), (14850, 25))

In [ ]:
#drop this unnamed column 
train_data.drop('Unnamed: 0', axis=1, inplace=True)
test_data.drop('Unnamed: 0', axis=1, inplace=True)
target=train_data.pop('status_group')

In [ ]:
train_data['train']=1
test_data['train']=0
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   funder                 59400 non-null  object
 1   gps_height             59400 non-null  int64
 2   installer              59400 non-null  object
 3   longitude              59400 non-null  float64
 4   latitude               59400 non-null  float64
 5   basin                  59400 non-null  object
 6   region                 59400 non-null  object
 7   district_code          59400 non-null  int64
 8   lga                    59400 non-null  object
 9   ward                   59400 non-null  object
 10  population             59400 non-null  int64
 11  public_meeting         59400 non-null  bool
 12  permit                 59400 non-null  bool
 13  construction_year      59400 non-null  int64
 14  extraction_type_group  59400 non-null  object
 15  management             59400 non-null  object
 16  payment                59400 non-null  object
 17  water_quality          59400 non-null  object
 18  quantity               59400 non-null  object
 19  source                 59400 non-null  object
 20  waterpoint_type        59400 non-null  object
 21  decade                 59400 non-null  object
 22  installer_cat          59400 non-null  object
 23  funder_cat             59400 non-null  object
 24  train                  59400 non-null  int64
dtypes: bool(2), float64(2), int64(5), object(16)
memory usage: 10.5+ MB

In [ ]:
train_data.shape,test_data.shape

((59400, 25), (14850, 25))

In [ ]:
combined = pd.concat([train_data, test_data])

In [ ]:
combined.drop('construction_year',axis=1,inplace=True)
# combined.drop(columns=['ward', 'installer'],inplace=True )
combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74250 entries, 0 to 14849
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   funder                 74250 non-null  object
 1   gps_height             74250 non-null  int64
 2   longitude              74250 non-null  float64
 3   latitude               74250 non-null  float64
 4   basin                  74250 non-null  object
 5   region                 74250 non-null  object
 6   district_code          74250 non-null  int64
 7   lga                    74250 non-null  object
 8   population             74250 non-null  int64
 9   public_meeting         74250 non-null  bool
 10  permit                 74250 non-null  bool
 11  extraction_type_group  74250 non-null  object
 12  management             74250 non-null  object
 13  payment                74250 non-null  object
 14  water_quality          74250 non-null  object
 15  quantity               74250 non-null  object
 16  source                 74250 non-null  object
 17  waterpoint_type        74250 non-null  object
 18  decade                 74250 non-null  object
 19  installer_cat          74250 non-null  object
 20  funder_cat             74250 non-null  object
 21  train                  74250 non-null  int64
dtypes: bool(2), float64(2), int64(4), object(14)
memory usage: 12.0+ MB

In [ ]:
combined['funder'] = pd.factorize(combined['funder'])[0]
combined['extraction_type_group'] = pd.factorize(combined['extraction_type_group'])[0]
combined['management'] = pd.factorize(combined['management'])[0]
combined['payment'] = pd.factorize(combined['payment'])[0]
combined['water_quality'] = pd.factorize(combined['water_quality'])[0]
combined['quantity'] = pd.factorize(combined['quantity'])[0]
combined['source'] = pd.factorize(combined['source'])[0]
combined['waterpoint_type'] = pd.factorize(combined['waterpoint_type'])[0]
combined['basin'] = pd.factorize(combined['basin'])[0]
combined['region'] = pd.factorize(combined['region'])[0]
combined['lga'] = pd.factorize(combined['lga'])[0]
combined['ward'] = pd.factorize(combined['ward'])[0]
combined['district_code'] = pd.factorize(combined['district_code'])[0]
combined['funder_cat'] = pd.factorize(combined['funder_cat'])[0]
combined['installer_cat'] = pd.factorize(combined['installer_cat'])[0]
combined.district_code.head(5)

0    0
1    1
2    2
3    3
4    4
Name: district_code, dtype: int64

In [ ]:
combined['decade'] = pd.factorize(combined['decade'])[0]
combined['installer'] = pd.factorize(combined['installer'])[0]

In [ ]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74250 entries, 0 to 14849
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   funder                 74250 non-null  int64
 1   gps_height             74250 non-null  int64
 2   longitude              74250 non-null  float64
 3   latitude               74250 non-null  float64
 4   basin                  74250 non-null  int64
 5   region                 74250 non-null  int64
 6   district_code          74250 non-null  int64
 7   lga                    74250 non-null  int64
 8   population             74250 non-null  int64
 9   public_meeting         74250 non-null  bool
 10  permit                 74250 non-null  bool
 11  extraction_type_group  74250 non-null  int64
 12  management             74250 non-null  int64
 13  payment                74250 non-null  int64
 14  water_quality          74250 non-null  int64
 15  quantity               74250 non-null  int64
 16  source                 74250 non-null  int64
 17  waterpoint_type        74250 non-null  int64
 18  decade                 74250 non-null  int64
 19  installer_cat          74250 non-null  int64
 20  funder_cat             74250 non-null  int64
 21  train                  74250 non-null  int64
dtypes: bool(2), float64(2), int64(18)
memory usage: 12.0 MB

In [ ]:
train_df = combined[combined["train"] == 1]
test_df = combined[combined["train"] == 0]
train_df.drop(["train"], axis=1, inplace=True)
test_df.drop(["train"], axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
#define X train
X = train_df
#y_train indentified at the beginning 
y = target

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model_rfc = RandomForestClassifier(n_estimators=1000)

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   funder                 59400 non-null  int64
 1   gps_height             59400 non-null  int64
 2   longitude              59400 non-null  float64
 3   latitude               59400 non-null  float64
 4   basin                  59400 non-null  int64
 5   region                 59400 non-null  int64
 6   district_code          59400 non-null  int64
 7   lga                    59400 non-null  int64
 8   population             59400 non-null  int64
 9   public_meeting         59400 non-null  bool
 10  permit                 59400 non-null  bool
 11  extraction_type_group  59400 non-null  int64
 12  management             59400 non-null  int64
 13  payment                59400 non-null  int64
 14  water_quality          59400 non-null  int64
 15  quantity               59400 non-null  int64
 16  source                 59400 non-null  int64
 17  waterpoint_type        59400 non-null  int64
 18  decade                 59400 non-null  int64
 19  installer_cat          59400 non-null  int64
 20  funder_cat             59400 non-null  int64
dtypes: bool(2), float64(2), int64(17)
memory usage: 9.2 MB

In [ ]:
from sklearn.model_selection import cross_val_score
cross_val_score(model_rfc, X, y, cv=3)

array([0.80272727, 0.80252525, 0.80116162])

In [ ]:
model_rfc.fit(X,y)
X.info()
importances = model_rfc.feature_importances_
importances

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   funder                 59400 non-null  int64
 1   gps_height             59400 non-null  int64
 2   longitude              59400 non-null  float64
 3   latitude               59400 non-null  float64
 4   basin                  59400 non-null  int64
 5   region                 59400 non-null  int64
 6   district_code          59400 non-null  int64
 7   lga                    59400 non-null  int64
 8   population             59400 non-null  int64
 9   public_meeting         59400 non-null  bool
 10  permit                 59400 non-null  bool
 11  extraction_type_group  59400 non-null  int64
 12  management             59400 non-null  int64
 13  payment                59400 non-null  int64
 14  water_quality          59400 non-null  int64
 15  quantity               59400 non-null  int64
 16  source                 59400 non-null  int64
 17  waterpoint_type        59400 non-null  int64
 18  decade                 59400 non-null  int64
 19  installer_cat          59400 non-null  int64
 20  funder_cat             59400 non-null  int64
dtypes: bool(2), float64(2), int64(17)
memory usage: 9.2 MB

array([0.04243311, 0.07764169, 0.15529654, 0.1529554 , 0.01766868,
       0.02390234, 0.02268399, 0.03265744, 0.05281015, 0.00738863,
       0.0085127 , 0.05311783, 0.02114195, 0.03420856, 0.01466516,
       0.11360684, 0.03042216, 0.05800408, 0.03371124, 0.02400132,
       0.02317019])

In [ ]:
importances = model_rfc.feature_importances_
importances
indices = np.argsort(importances)[::-1]

# Print the feature ranking
print("Feature ranking:")

for f in range(X.shape[1]):
    print("%d. feature %d (%f)" % (f + 1, indices[f], importances[indices[f]]))

for f in range(X.shape[1]):
    print(X.columns[indices[f]],end=', ')

Feature ranking:
1. feature 2 (0.155297)
2. feature 3 (0.152955)
3. feature 15 (0.113607)
4. feature 1 (0.077642)
5. feature 17 (0.058004)
6. feature 11 (0.053118)
7. feature 8 (0.052810)
8. feature 0 (0.042433)
9. feature 13 (0.034209)
10. feature 18 (0.033711)
11. feature 7 (0.032657)
12. feature 16 (0.030422)
13. feature 19 (0.024001)
14. feature 5 (0.023902)
15. feature 20 (0.023170)
16. feature 6 (0.022684)
17. feature 12 (0.021142)
18. feature 4 (0.017669)
19. feature 14 (0.014665)
20. feature 10 (0.008513)
21. feature 9 (0.007389)
longitude, latitude, quantity, gps_height, waterpoint_type, extraction_type_group, population, funder, payment, decade, lga, source, installer_cat, region, funder_cat, district_code, management, basin, water_quality, permit, public_meeting,

In [ ]:
X_test=test_df

In [ ]:
model_rfc.fit(X,y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14850 entries, 0 to 14849
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   funder                 14850 non-null  int64
 1   gps_height             14850 non-null  int64
 2   longitude              14850 non-null  float64
 3   latitude               14850 non-null  float64
 4   basin                  14850 non-null  int64
 5   region                 14850 non-null  int64
 6   district_code          14850 non-null  int64
 7   lga                    14850 non-null  int64
 8   population             14850 non-null  int64
 9   public_meeting         14850 non-null  bool
 10  permit                 14850 non-null  bool
 11  extraction_type_group  14850 non-null  int64
 12  management             14850 non-null  int64
 13  payment                14850 non-null  int64
 14  water_quality          14850 non-null  int64
 15  quantity               14850 non-null  int64
 16  source                 14850 non-null  int64
 17  waterpoint_type        14850 non-null  int64
 18  decade                 14850 non-null  int64
 19  installer_cat          14850 non-null  int64
 20  funder_cat             14850 non-null  int64
dtypes: bool(2), float64(2), int64(17)
memory usage: 2.3 MB

In [ ]:
# a=X_test['id']
# X_test.drop(['id'],axis=1, inplace=True)
y_pred = model_rfc.predict(X_test)

In [ ]:
submission = pd.read_csv('/content/drive/MyDrive/ML Project/SubmissionFormat.csv')

In [ ]:
submission.head()

      id     status_group
0  50785  predicted label
1  51630  predicted label
2  17168  predicted label
3  45559  predicted label
4  49871  predicted label

In [ ]:
y_pred=pd.DataFrame(y_pred)
y_pred.columns=['status_group']

In [ ]:
y_pred=y_pred[['status_group']]

In [ ]:
y_pred.head()

   status_group
0             0
1             0
2             0
3             2
4             0

In [ ]:
target_status_group = {0:'functional',
                        2:'non functional', 
                       1:'functional needs repair'} 
y_pred['status_group'] = y_pred['status_group'].replace(target_status_group)

In [ ]:
y_pred.head()

     status_group
0      functional
1      functional
2      functional
3  non functional
4      functional

In [ ]:
y_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14850 entries, 0 to 14849
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   status_group  14850 non-null  object
dtypes: object(1)
memory usage: 116.1+ KB

In [ ]:
submission["status_group"] = y_pred['status_group']

In [ ]:
submission.head()

      id    status_group
0  50785      functional
1  51630      functional
2  17168      functional
3  45559  non functional
4  49871      functional

In [ ]:
submission.to_csv('/content/drive/MyDrive/ML Project/my_submission2.csv', index=True)

In [ ]:
my_submission = pd.read_csv('/content/drive/MyDrive/ML Project/my_submission2.csv')

In [ ]:
my_submission.head()

   Unnamed: 0     id    status_group
0           0  50785      functional
1           1  51630      functional
2           2  17168      functional
3           3  45559  non functional
4           4  49871      functional

In [ ]:
!head /content/drive/MyDrive/ML Project/my_submission.csv

head: cannot open '/content/drive/MyDrive/ML' for reading: No such file or directory
head: cannot open 'Project/my_submission.csv' for reading: No such file or directory